body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-image: url("tosca-background2.jpg");
 margin: 0;
 padding: 0;
}
/* Mengatur tampilan halaman website pada Tablet */
@media only screen and (max-width: 768px) {
 body {
   background-size: cover;
 }
 main {
   margin: 0 10px;
 }
 article {
   padding: 20px;
 }
 img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
 }
 footer {
   text-align: left;
   margin: 10px;
 }
 }
 /* Mengatur tampilan halaman website pada Handphone */
@media only screen and (max-width: 480px) {
 body {
   background-size: cover;
 }
 main {
   margin: 0 5px;
 }
 article {
   padding: 10px;
 }
 img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
 }
 footer p {
   font-size: small;
 }
}
@keyframes slideInRight {
 from {
    opacity: 0;
    transform: translateX(-50%);
 }

  to {
     opacity: 1;
     transform: translateX(0);
 }
}
header h1 {
 animation: slideInRight 1s ease-out;;
}
.tosca-background {
 background-color: rgb(199, 245, 248);
 display: flex; 
 align-items: center; 
 justify-content: space-between;
 padding: 10px;
}
header h1, nav ul {
 margin: 0; 
 padding: 15px; 
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 animation: slideInRight 1s ease-out;
}
nav ul li {
 margin-right: 30px;
 transition: transform 0.3s;
}
nav ul li:hover {
 transform: scale(1.5);
}
nav ul li a {
 text-decoration: none;
 color: #333;
}
nav ul li a:hover {
 color: #b6b3b3;
}
main {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: left;
 line-height: 1.5em;
 margin-left: 20px;
 margin-right: 15px;
 padding: 20px;
}
article h2 {
 margin-top: 0;
}
article p {
 font-weight: 500;
 text-align: left;
 line-height: 1.5em;
}
img {
 width: 450px;
 height: 450px;
 transition: transform 0.3 ease;
}
img:hover {
 transform: scale(1.1);
}
footer {
 padding: 10px;
 position: relative;
 bottom: 0;
 left: 0;
 width: 100%;
}
footer p {
 font-family: Arial, sans-serif;
 font-weight: bold;
 font-size: small;
 animation: slideInRight 1s ease-out;
}
main h2 {
 animation: slideInRight 1s ease-out;
}
main img {
 animation: slideInRight 1s ease-out;
}
main p {
 animation: slideInRight 1s ease-out;
}
.highlight-box {
 position: absolute;
 background-color: #b6b3b3;
 height: 100%;
 width: 0;
 transition: width 0.3s;
 z-index: -1;
}